# gradle

.gradle/
build/
out/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/
logs/

/changelog.txt

# nixos files
*.nix
flake.lock
.envrc
.direnv/
