# gradle

.gradle/
build/
out/
gradle-local.properties

# idea

.idea/*
!.idea/icon.svg
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/
logs/

/changelog.txt
